body{
  background: #333;
  overflow: hidden;
}

#bg_container{
  position: fixed;
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
  z-index: -1;
}

#bg{
  position: fixed;
  width: 100%;
  height: 100%;
}

#icons_container{
  margin: auto;
  width: 50%;
}

#Party{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}

#Kite{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}

#Skate{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}

#Snow{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}

#Surf{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}

#Wake{
  width: 10%;
  height: 10%;
  padding-left: 15px;
}
